//Page for useful variables that I will repeat often throughout the project
$ucfGold1: #BA9B37;
$ucfGold2: #FFC904;
$blackBG: url("txtbg.jpg");
$font1: 'Open Sans', sans-serif;
$headfont: 'Prata', serif;